.settings-page-container {
    padding: 2rem 3rem;
    max-width: 1400px;
    margin: 105px auto 0;
    min-height: 100vh;
    margin-left: -50px;
    height: 150%;
}

.settings-header {
    margin-bottom: 2rem;
}

.settings-header h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #0f172a;
    margin-bottom: 0.5rem;
}

.settings-header p {
    color: #64748b;
    font-size: 1rem;
}

/* The White Card Container */
.settings-card {
    background: #ffffff;
    border-radius: 0px;
    display: flex;
    min-height: 700px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.05), 0 10px 10px -5px rgba(0, 0, 0, 0.02);
    border: 1px solid #f1f5f9;
    overflow: hidden; /* Clips the sidebar background */
    height: 850px;
    width: 1660px;
}

.settings-content-area {
    flex: 1;
    padding: 3rem;
    border-color: #0f172a;
    border-radius: 2px;
    background: #ffffff;
}

.content-inner h2 {
    font-size: 1.5rem;
    color: #0f172a;
    margin-bottom: 2rem;
}

.placeholder-text {
    color: #94a3b8;
    background: #f8fafc;
    padding: 20px;
    border-radius: 12px;
    border: 1px dashed #e2e8f0;
}